<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
</head>
<body>
    <h1>Formularios
    </h1>
    <form method="post" action="enlaces" enctype="text/plain">
        <label for="Nombre">Nombre</label>
        <input type="text" name="Nombre" id="Nombre" placeholder="Nombre">
        <br>
        <br>
        <label for="Apellido">Apellido</label>
        <input type="text" name="Apellido" id="Apellido" placeholder="Apellido">
    <button type="submit" value="Enviar">Enviar</button>
 <input type="submit" value="Enviar formulario">
 <br>
<br>
 <fieldset>
    <legend>Información personal</legend>
 <label for="Descripción">Descripción</label>
 <textarea name="" id="" cols="30" rows="10"></textarea>   
<div>
    Email:
 <input type="email">
</div>
</fieldset>
</form>
</body>
</html>