<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tablas HTML</title>
</head>
<body>
    <h1>Tablas</h1>
        <table border="1">
        <tr>
            <th>Title</th>
            <th>Género</th>
            <th>Año</th>
            
        </tr>
        <tr>
            <td>El señor de los anillos</td>
            <td>Aventura</td>
            <td>2004</td>
        </tr>
        <tr>
            <td>Jocker</td>
            <td>Drama</td>
            <td>2019</td>
            <td>Anónimo</td>
        </tr>

    </table>
<h2>Tablas 2</h2>
    <Table border="1" summary="Películas favoritas">
        <thead>
            
            <th>Title</th>
            <th>Género</th>
            <th>Año</th>

        </thead>
        <tbody>
            <tr>
                <td>El señor de los anillos</td>
                <td>Aventura</td>
                <td>2004</td>
            </tr>
            <tr>
                <td>Jocker</td>
                <td colspan="2" rowspan="2">Drama</td>
            </tr>
            <tr>
                <td>Batman vs Superman</td>
            </tr>  
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3">Curso HTML de Udemy</td>   
            </tr>
        </tfoot>

    </Table>

    <h1>Bloque y en línea<!--En línea el nav o eqtiquetas para texto lo vemos en css mientras que el div el aside funcionan en bloque-->  
    </h1>
<a>Hola</a> <A>Hola2</A>
<div>Hola3</div>
<aside>Hola4</aside>
</body>
</html>